//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 11 12:38:11 2018
//! **************************************************************************

SCHEMATIC START;
COMP "out_port" LOCATE = SITE "B4" LEVEL 1;
COMP "set" LOCATE = SITE "F12" LEVEL 1;
SCHEMATIC END;

