//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 05 17:01:06 2018
//! **************************************************************************

SCHEMATIC START;
COMP "in_serial_rx" LOCATE = SITE "M13" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "data_rx" LOCATE = SITE "J14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

